doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='robots', content=lingua.meta.robots)
    meta(name='google', content=lingua.meta.google)

    title #{pageTitle} #{lingua.seperator} #{lingua.title}

    meta(name='author', content=lingua.meta.author)
    meta(name='description', content=lingua.meta.description)
    meta(name='keywords', content=lingua.meta.keywords)

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/css/bootstrap-2.3.1.min.css')
    // link(rel='stylesheet', href='/css/bootstrap-responsive-2.3.1.min.css') 

    link(rel='stylesheet', href='/css/master.css')

  body

    div.container
      block content

    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='/js/bootstrap-2.3.1.min.js')