doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='robots', content=lingua.meta.robots)
    meta(name='google', content=lingua.meta.google)

    title #{pageTitle} #{lingua.seperator} #{lingua.title}

    meta(name='author', content=lingua.meta.author)
    meta(name='description', content=lingua.meta.description)
    meta(name='keywords', content=lingua.meta.keywords)

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/css/vendor/bootstrap-3.0.0/bootstrap.min.css')
    // link(rel='stylesheet', href='/css/vendor/bootstrap-3.0.0/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/master.css')

    // if lt IE 9
      script(src='/js/vendor/bootstrap-3.0.0/html5shiv.js')
      script(src='/js/vendor/bootstrap-3.0.0/respond.min.js')

  body

    div#wrapper.container
      block content

    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='/js/vendor/bootstrap-3.0.0/bootstrap.min.js')
